.App {
  text-align: center;
}

.header {
  background-color: #e51717;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}
html {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: black;
  padding: 10px;
}

main {
  border-radius: 16px;
  background-color: white;
  border: 1px solid #000000;
  margin: 50px auto;
  padding: 32px;
  align-items: right;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #000000;
  align:centre;
  padding: 8px;
  border-radius: 5px;
}

/* .card:nth-child(4n + 1) {
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
}

.card:nth-child(4n + 2) {
  background: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);
} */

/* .card:nth-child(4n + 3) {
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
} */

button {
  /* border: none; */
  border-radius: 6px;
  height: fit-content;
  padding: 3px 6px;
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.task-input {
  /* border: none; */
  border-radius: 6px;
  padding: 16px 15px;
}

.navbar a {
  color: black;
  background-color: white;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 6px;
}